<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
       <input #textbox type="text" [(ngModel)]="message" required>
        <button (click)="sendMessage(textbox.value)">Send Message</button>
        <button (click)="message=''">Clear</button>

    <p *ngFor="let msg of messages">
      {{ msg }}
    </p>
</div>